

<<!-- <label for="txtMateria">Materia:</label>
<input id="txtMateria" [(ngModel)]="formulario.materia"/>
<br/>
<label for="txtModalidad">Modalidad</label>
<input id="txtModalidad" [(ngModel)]="formulario.modalidad"/>
<br/>
<label for="txtDuracion">Duracion:</label>
<input id="txtDuracion" [(ngModel)]="formulario.duracion"/>
<br/>
<br/>  -->>


<h4> Ingrese los datos</h4>
<p>
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Ex.Jorge" value="" [(ngModel)]="formulario.nombre" required>
      
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>cedula</mat-label>
      <input matInput placeholder="Ex.0302345678" value="" [(ngModel)]="formulario.cedula" required>     
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Direccion</mat-label>
      <input matInput placeholder="Ex.Av de las Americas" value="" [(ngModel)]="formulario.direccion" required>
    </mat-form-field>
  </p>

<div class="example-button-row">
  <button (click)="guardar()" mat-button color="warn">guardar</button>
</div>


  <div class="example-button-row">
    <button (click)="actualizar(formulario)" mat-button color="warn">actualizar</button>
  </div>